# ELECTRON_MIRROR=https://registry.npmmirror.com/electron/
# 官方
# registry=https://registry.npmjs.org/

# 淘宝新
# registry=https://registry.npmmirror.com/

# PRISMA_ENGINES_MIRROR=https://registry.npmmirror.com/-/binary/prisma

node-linker=hoisted
shamefully-hoist=true
# public-hoist-pattern=*
# strict-peer-dependencies=false
# package-import-method=copy
