/**
   author: william   email:362661044@qq.com
   create_at:2023/5/26 9:58 AM 
**/

.bar {
  @apply bg-icon;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 100;
  color: white;
  user-select: none;
}

.logo {
  //padding: 10px 0;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5px;
  img {
    width: 20px;
    height: 20px;
  }
}

.macBar {
  height: 28px;
  display: flex;
  justify-content: right;
  //padding-right: 16px;
}

.winBar {
  height: 28px;
  .right {
    display: flex;
    gap: 14px;
  }
}
